[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "htmlreportR"]
	path = htmlreportR
	url = https://github.com/aestebanmar/htmlreportr
